[v-cloak] {
  display: none;
}

#map {
  height: calc(100vh - 40px);
}

.leg {
  padding: 1rem;
}

.card {
  margin: 2rem;
}

.navbar-item {
  margin: 1rem;
}

.current-runner-image {
  margin: auto;
}

.media-content {
  overflow: initial;
}

.current-runner {
  margin-left: 0;
  margin-right: 0;
  .card-header {
    background-color: lightgreen;
  }
}

.next-runner {
  .card-header {
    background-color: lightblue;
  }
}

.road {
  height: 1px;
  float: left;
}

.van {
  height: 36px;
}
