[v-cloak] {
  display: none;
}

.labelClass {
 padding-bottom: 5px; 
}

#map {
  height: calc(100vh - 40px);
}

.leg {
  padding: 1rem;
}

.navbar-item {
  margin: 1rem;
}

.current-runner-image {
  margin: auto;
}

.media {
  display: block;
}

.media-content {
  overflow: initial;
  margin-bottom: 1rem; 
  &:last-of-type {
    margin-bottom: 0;
  }
}

.current-runner {
  margin-left: 0;
  margin-right: 0;
  .card-header {
    background-color: lightgreen;
  }
}

.next-runner {
  .card-header {
    background-color: #cd1820;
  }
}

.next-runner {
  .card-header {
    .card-header-title {
      color: white;
    }
  }
}

.next-runner {
  .card-header {
    .card-header-icon {
      color: white;
    }
  }
}

.road {
  height: 1px;
  float: left;
}

.van {
  height: 36px;
}

.card-footer {
  display: block;
}

.card-footer-item {
  border-right: none;
  background-color: #e1f1f6;
  font-weight: 700;
  &:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
  }
  &:not(:last-child) {
    border-right: none;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    margin: 2rem;
  }
  .card-footer {
    display: flex;
  }
  .card-footer-item {
    border-bottom: none;
    &:not(:last-child) {
      border-right: 1px solid #dbdbdb;
    }
    &:not(:last-child) {
      border-bottom: none;
    }
  }
  .media {
    display: flex;
  }
  .media-content {
    margin-bottom: 0;
  }
}
